
@import url("https://fonts.googleapis.com/css?family=Poppins:400,700");

/* * {
	border: black 1px solid;
} */

body {
	font-family: 'Poppins', sans-serif;
	color: #333;
	font-size: 14px;
	font-weight: 400;
	background: #fff;
	overflow-x: hidden;
  }

.bob-brand {
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 40px;
}

#hero-banner {
	/* background: url(../img/hero-area.jpg) fixed no-repeat; */
	background: url(../img/POD51-01bl.jpg) fixed no-repeat;
	background-size: cover;
	color: #fff;
	overflow: hidden;
	position: relative;
	padding: 200px 0 130px;
}

#experience {
	background: url(../img/POD51-01bl.jpg) fixed no-repeat;
	background-size: cover;
	color: #fff;
	overflow: hidden;
	position: relative;
}

.section {
	padding: 80px;
}

.section-header {
	/* color: #fff; */
	margin-bottom: 40px;
	text-align: center;
}

.section-header .section-title {
	font-size: 42px;
	margin-top: 0;
	text-transform: uppercase;
	font-weight: 700;
	color: #333;
	position: relative;
}

.section-header .section-title span {
	color: #61D2B4;
}

.section-header .section-subtitle {
	margin-top: 15px;
	color: #333;
	font-size: 14px;
	font-weight: 400;
}

.section-header .lines {
	margin: auto;
	width: 70px;
	position: relative;
	border-top: 2px solid #61D2B4;
	margin-top: 15px;
}