/* ------------------------------------- */
/* STYLES
/* TABLE OF CONTENTS
/* -------------------------------------
GENERAL
NAV BAR
HERO 
SKILLS 
PROJECTS
EXPERIENCE
FOOTER

------------------------------------- */
/* ==========================================================================
GENERAL
========================================================================== */


/* IMPORT GOOGLE FONTS */

@import url("https://fonts.googleapis.com/css?family=Poppins:400,700");

* {
	/* border: white 1px solid; */
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

html {
	font-size: 14px;
	font-weight: 400;
	/* color: #15a0bf; */
	/* color: #f2ca33; */

}

body {
	background-color: #1c1e23;
	font-family: 'Poppins', sans-serif;
}


.box {
	border-radius: 10px;
	color: #53e0ff;
}

.bannertxt {
	text-align: center;
	margin: 20px auto;
}

.content {
	/* border: 3px #c517b6 solid; */
	margin: 10px 20px;
	padding: 20px;
	border-radius: 10px;
	
}

/* ==========================================================================
CONTAINER
========================================================================== */
.container {
	
	
}


/* ==========================================================================
NAVIGATION BAR
========================================================================== */
.top {
	background-color: #1a3f4a;
	/* text-align: center; */
	
}
.nav-container {
	display: flex;
	padding: 20px;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	z-index: 10;
}
.barbtn {
	padding: 2px;
	display: inline-block;
	border: 2px solid #53e0ff;
	align-self: center;
	justify-self: end;
}

.bar {
	width: 30px;
	height: 3px;
	margin: 7px;
	background: #53e0ff;
	
}

.bob-brand {
	background-color: #1a3f4a;
	display: inline-block;
	text-align: left;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 3rem;
	color: #15a0bf;
	/* margin: 0 0 0 20px; */
}

.navitems {
	/* flex: 0 0 auto; */
	display: flex;
	justify-content: end;
	align-items: center;
	padding-top: 15px;
}

.navitems ul {
	list-style-type: none;
	display: none;
	justify-content: end;
	align-items: center;
}

.navitems ul a {
	/* display: block; */
	/* background: #0d1317; */
	padding: 0 20px;
	font-size: 17px;
	text-decoration: none;
	text-transform: uppercase;
	color: #15a0bf;
	transition: color 1s ease, background 1s ease, padding 1s ease;
}

.nvs {
	background-color: #1a3f4a;
	display: inline-block;
	margin-left: auto;
	align-self: center;
	/* align-items: center;
	text-align: center; */
}

@media screen and (min-width:776px){
	.barbtn{
		display: none;
	}
	.navitems ul {
		display: flex !important;
		flex-wrap: wrap;
		/* justify-content: center; */
		justify-content: end;
	}
	/* nav ul{
		display: flex !important;
		flex-wrap: wrap;
		justify-content: center;
		background: rgba(13,19,23,0.8);
	}
	nav ul a {
		background: transparent;
	}
	nav ul a:hover {
		background: transparent;
		padding-left: 20px;
	} */
}

/* ==========================================================================
HERO
========================================================================== */

.hero {
	background-color: #173158;
	display: flex;
	/* justify-content: center; */
	/* align-items: center; */
	flex-direction: column;

}

.cvr-photo {
	background-color: #173158;
	/* padding: 40px 10px;
	margin: 40px 10px; */
}

.photo {
	margin: 20px;
	padding: 20px;
}

.photo img {
	width: 100%;
}

.hero--quote {
	padding: 0 20px;
}

/* ==========================================================================
ABOUT
========================================================================== */
.about{
	/* background-color: #39174b; */
	background-color: #48171b;
	
}

.about--content {
	text-align: center;
	padding: 20px;
	border: 1px solid #cd0101;
}

/* ==========================================================================
TECHNICAL SKILLS
========================================================================== */

.skills {
	background-color: #461c48;


}

.skills-content {
	border: 1px #c517b6 solid;
	font-size: 1.5rem;
}

/* ==========================================================================
PROJECTS
========================================================================== */

.projects {
	background-color: #2d1d32;

}

.projects-content {
	border: 1px #d90171 solid;
}

/* ==========================================================================
EXPERIENCE
========================================================================== */

.exp {
	background-color: #253124;

}

.exp-content {
	border: 1px #7bd938 solid;
}

/* ==========================================================================
FOOTER
========================================================================== */

.footer {
	background-color: #1a3f4a;
	padding: 0 20px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	
}
.footer-content {
	border: 1px #15a0bf solid;
	margin: 10px;
	padding: 0 20px;
	border-radius: 10px;
}
.footer-icons {
	display: flex;
	flex-direction: row;
	align-items: center;

}

.footer-icons a {
	display: inline-block;
	font-size: 30px;
	margin: 20px;
	padding: 2px 5px;
	border-radius: 5px;
	background: #15a0bf;
	color: #0d1317;
}